@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700;800;900&family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

@theme {
  --font-sans: "Inter", "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Plus Jakarta Sans", "Inter", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

/* Customize Leaflet styles to fit beautiful Slate/Emerald dashboard themes */
.leaflet-container {
  font-family: inherit;
}

.leaflet-popup-content-wrapper {
  border-radius: 12px !important;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
  border: 1px solid rgb(241 245 249) !important;
  padding: 2px !important;
}

.leaflet-popup-tip {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1) !important;
}

.leaflet-bar {
  border: none !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1) !important;
}

.leaflet-bar a {
  border-bottom: 1px solid rgb(241 245 249) !important;
  background-color: white !important;
  color: rgb(15 23 42) !important;
}

.leaflet-bar a:hover {
  background-color: rgb(248 250 252) !important;
}

